body {
         background-position: top;
    background-image: url(/img/money.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed
    background-color: #262626;
}

.heading_wombat {
        color: red;
    text-align: center;
    font-family: cursive;
    font-size: 65px;
    margin-top: -15px;
}

.box {        
    text-align: center;
    position: sticky;
    /*bottom: 40;*/
    /*left: 550;*/
} 

.icon {
	height: 2em;
    width: 11em;
    background-color: white;
    border-radius: 25px;
    border-style: none;

}

.container-1 {
	    background-color: red;
    width: 12em;
    height: 2em;
    border-radius: 12px;
    border-style: none;
    color: white;
    text-align: center;
    white-space: normal;
    font-family: cursive;
    padding: 9px;
    padding-top: 15px;
}

.box2 {
       font-family: cursive;
}

.results {
        text-align: left
}