body {
         background-position: top;
    background-image: url(/img/money.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #262626;
}

.heading_wombat {
        color: red;
    text-align: center;
    font-family: cursive;
    font-size: 65px;
    margin-top: -25px;
}

.box {
	    text-align: center;
    position: fixed;
    bottom: 30;
    left: 570;
    right: 400;
} 

.icon {
	height: 5em;
    width: 11em;
    background-color: white;
    border-radius: 25px;
    border-style: none;
}

.container-1 {
	  background-color: red;
    width: 13em;
    height: 5em;
    border-radius: 12px;
    left: 300;
    border-style: none;
    color: white;
    text-align: center;
    white-space: normal;
    font-family: cursive;
    padding: 10;
}