* {
    box-sizing: border-box;
}

/*@media only screen and (max-width: 600px) {
    body {
        background-size: cover;
}
*/
body { 
		text-align: center;
    background-color: #262626;
    background-position: unset;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
}
img {
		width: 100%;
    height: auto;
	}

.box {
		text-align: center;
   	position: fixed;
    width: 100%
	bottom:500px;
	}
}

@media only screen and (min-device-width: 400px) {
	img {
		width: 60%;
    height: auto;
    margin-top: -60px;
	}

	body {
			text-align: center;
    	background-color: #262626;
    	background-position: center;
    	/* background-image: url(/img/money.gif); */
    	background-repeat: no-repeat;
    	background-size: contain;
    	margin-left: auto;
    	margin-right: auto;
	}

	.box {
    	text-align: center;
    position: fixed;
    bottom: 416px;
    width: 100%;
	} 
}


input {
		border: 1px solid #262626;
}

.heading_wombat {
       color: red;
    text-align: center;
    font-family: cursive;
    font-size: 65px;
    margin-top: 0px;
    background-color: #262626;
}

.icon {
		height: 2em;
    width: 11em;
    background-color: #ffffff;
    border-radius: 25px;
    border-style: none;
}

.container-1 {
	        background-color: red;
    width: fit-content;
    height: fit-content;
    border-radius: 12px;
    border-style: none;
    color: white;
    text-align: center;
    white-space: normal;
    font-family: cursive;
    padding: 12px;
    margin: auto;
}

.box2 {
       font-family: cursive;
    display: block;
    color: red;
    font-size: 3.0vw;
    bottom: 15px;
    margin: auto;
    position: fixed;
    width: 100%;
}


button {
	    background-color: #ffffff;
    border: 1px solid #262626;
    color: #262626;
    padding: 2px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 1px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: #262626;
    color:  #ffffff;
}